/* Si y'a pas de CSS c'est pas beau, mais sinon dans ce fichier tu trouveras pas d'indice */
body{
  background: #000;
  padding-top: 10px;
}

p{
  color: lime; 
  font-family: "Courier";
  font-size: 40px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 2.12s steps(60, end);
}

p:nth-child(2){
  animation: type2 2s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.container {
  margin-top: 30%;
  margin-bottom: auto;
  position: relative;
}

.image {
  opacity: 0;
  margin-left: 80%;
  transition: .2s ease;
  backface-visibility: hidden;
}

.image:hover {
  opacity: 1;
}
